@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IndexModel
@{
    ViewData["Title"] = "Albums";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Chinook Music Album Management</p>
</div>