@page
@model ChinookWeb.Pages.RequirementsModel
@{
    ViewData["Requirements"] = "Project Requirements";
}
<h2>@ViewData["Requirements"]</h2>
<hr>
<div >
    <h4>Read</h4>

    <table class="table">
        <thead>
        <tr>
            <td>Requirement</td>
            <td>Status</td>
        </tr>
        </thead>
        <tr>
            <td>Can users view all the albums?</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Can end-users order, filter, sort, and/or search the albums?</td>
            <td>Order, Sort, Search</td>
        </tr>
        <tr>
            <td>Can end users also view associated information such as artists and/or tracks?</td>
            <td>✅</td>
        </tr>
    </table>

    <h4>Create</h4>
    <table class="table">
        <thead>
        <tr>
            <td>Requirement</td>
            <td>Status</td>
        </tr>
        </thead>
        <tr>
            <td>Can end-users add new albums?</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Is user input stringently validated?</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Can end-users also add associated information such as artists and/or albums?</td>
            <td>Almost</td>
        </tr>
    </table>

    <h4>Update</h4>
    <table class="table">
        <thead>
        <tr>
            <td>Requirement</td>
            <td>Status</td>
        </tr>
        </thead>
        <tr>
            <td>Can end users update existing albums?</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Is user input stringently validated?</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Can end users also update associated information such as the artist and/or tracks?</td>
            <td>✅</td>
        </tr>
    </table>

    <h4>Delete</h4>
    <table class="table">
        <thead>
        <tr>
            <td>Requirement</td>
            <td>Status</td>
        </tr>
        </thead>
        <tr>
            <td>Can end users delete an album?</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Is confirmation required before deletion?</td>
            <td>✅</td>
        </tr>
        <tr>
            <td>Can end users also delete associated information such as the artist and/or tracks?</td>
            <td>Almost</td>
        </tr>
    </table>
</div>