@page
@using ChinookEntities
@model ChinookWeb.Pages.Albums.Details

<form>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="albumTitle">Album Title</label>
            <input type="text" class="form-control" id="albumTitle" placeholder="Album Title" value="@Model.Album.Title" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="albumArtist">Album Artist</label>
            <input type="text" class="form-control" id="albumArtist" placeholder="Album Artist" value="@Model.Album.Artist.Name" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="albumGenre">Genre</label>
            <input type="text" class="form-control" id="albumGenre" placeholder="Last name" value="@Model.Album.Tracks.Count" required>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationDefault03">City</label>
            <input type="text" class="form-control" id="validationDefault03" placeholder="City" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault04">State</label>
            <input type="text" class="form-control" id="validationDefault04" placeholder="State" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault05">Zip</label>
            <input type="text" class="form-control" id="validationDefault05" placeholder="Zip" required>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
</form>