@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model AlbumsListViewModel
@{
    ViewData["Title"] = "Albums";
}

<div>
    <h1 class="display-4">Albums</h1>
</div>

<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Artist</td>
        <td></td>
    </tr>
    </thead>
    @foreach (var album in Model.Albums)
    {
        <tr>
            <td>@album.AlbumId</td>
            <td>@album.Title</td>
            <td>@album.Artist.Name</td>
            <td><a asp-page="details" asp-route-AlbumId="@album.AlbumId" class="btn btn-outline-info">Details</a></td>
        </tr>
    }
</table>